div{
    padding-top:200px;
    width:300px;
    height:300px;
    border-radius: 50%;
    margin:0 auto;
    animation:rotate 10s infinite;
}
@keyframes rotate{
    /*0%{
        transform: rotate3d(0,0,0,0);
    }
    25%{
        transform:rotate3d(10,10,0,45deg);
    }
    50%{
        transform: rotate3d(0,10,0,45deg);
    }
    75%{
        transform: rotate3d(-10,10,0,45deg);
    }
    100%{
        transform:rotate3d(-10,0,0,45deg);
    }*/
    0%{
        transform:rotate3d(10,10,0,0);
    }
    100%{
        transform:rotate3d(10,10,0,89deg);
    }
}